CompileFlags:
  Compiler: gcc
  Add:
    - -Wall
    - -Wextra
    - -Werror
    - -Wpedantic
    - -I/home/gsaiago/estudo/c/my_traceroute/include

Style:
  QuotedHeaders: "include/.*"

Hover:
  ShowAKA: true

Diagnostics:
  UnusedIncludes: Strict

Documentation:
  CommentFormat: Doxygen
